name: ci

on:
  schedule:
    - cron: '0 10 * * *' # everyday at 10am
  pull_request:
    branches:
      - master
      - releases/v*
  push:
    branches:
      - master
      - releases/v*

jobs:
  setup:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containerd-version:
          - latest
          - v1.4.1
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Set up containerd
        uses: ./
        with:
          containerd-version: ${{ matrix.containerd-version }}
      -
        name: Dump context
        if: always()
        uses: crazy-max/ghaction-dump-context@v1

  pull:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Set up containerd
        uses: ./
      -
        name: Pull image
        run: |
          sudo ctr i pull --all-platforms --all-metadata docker.io/crazymax/diun:latest
      -
        name: Dump context
        if: always()
        uses: crazy-max/ghaction-dump-context@v1

  build-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Set up containerd
        uses: ./
      -
        name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./test
          file: ./test/Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          tags: docker.io/crazymax/ghaction-containerd:latest
          outputs: type=oci,dest=/tmp/image.tar
      -
        name: Import image in containerd
        run: |
          sudo ctr --debug i import --base-name docker.io/crazymax/ghaction-containerd --digests --all-platforms /tmp/image.tar
      -
        name: List containerd images
        run: |
          sudo ctr image ls
      -
        name: Push image with containerd
        run: |
          sudo ctr --debug i push --user "${{ secrets.DOCKER_USERNAME }}:${{ secrets.DOCKER_PASSWORD }}" docker.io/crazymax/ghaction-containerd:latest
      -
        name: Dump context
        if: always()
        uses: crazy-max/ghaction-dump-context@v1
