name: containerd-releases-json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches:
      - 'master'
  pull_request:
    paths-ignore:
      - '.github/containerd-releases.json'

jobs:
  generate:
    uses: crazy-max/.github/.github/workflows/releases-json.yml@6dc31870ca6c4f8489bf5a408ab38fae60f47eec
    with:
      repository: containerd/containerd
      artifact_name: containerd-releases-json
      filename: containerd-releases.json
    secrets: inherit

  open-pr:
    runs-on: ubuntu-22.04
    if: github.event_name != 'pull_request'
    needs:
      - generate
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Download
        uses: actions/download-artifact@v3
        with:
          name: containerd-releases-json
          path: .github
      -
        name: Commit changes
        run: |
          git add -A .
      -
        name: Create PR
        uses: peter-evans/create-pull-request@c55203cfde3e5c11a452d352b4393e68b85b4533
        with:
          base: master
          branch: bot/containerd-releases-json
          commit-message: "update .github/containerd-releases.json"
          signoff: true
          delete-branch: true
          title: "Update `.github/containerd-releases.json`"
          body: |
            Update `.github/containerd-releases.json` to keep in sync with [https://github.com/containerd/containerd](https://github.com/containerd/containerd).
          draft: false
